doctype html
html
  head
    title= title
    link(rel='stylesheet/less', href='/css/style.less')
    script(src="/vendor/less/dist/less.min.js" type="text/javascript" )
    block headerEnd
  body
    block content
    block clientScripts
